@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap");
.login {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw 100vh !important;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../images/Todo_Login3.jpg);
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: 100%;
}
.login-heading-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 2rem;
}
.login-heading {
  font-family: sans-serif;
  font-weight: 600;
  margin: 5% auto 1% auto;
  font-size: 4rem;
  text-align: center;
  color: rgb(218, 202, 202);
  width: 80vw;
  font-weight: 400;
  font-stretch: expanded;
}
.login-form-container {
  width: 28vw;
  height: 60vh;
  margin: 10vh auto auto auto;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}
.login-form-container h3 {
  font-size: 2.5rem;
  padding: 1.5rem 0rem 0rem 0rem;
  color: rgb(218, 202, 202);
  text-align: center;
  margin-top: 0rem;
  height: 5rem;
  font-family: sans-serif;
  border-radius: 0.5rem 0.5rem 0% 0%;
  background-color: #eba04a57;
}
.login-form-container p {
    margin: 4rem 0rem 0rem 0rem;
  color: #999;
  width: 68%;
  text-align: center;
}
form {
  width: 40vw;
  height: 40vh;
  /* border: solid white 2px; */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-field {
  width: 60%;
  padding: 1rem 0;
  margin: 1rem 2rem;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  outline: none;
  font-size: 1.25rem;
  color: white;
  background: transparent;
}

.login-button {
  margin: 4rem auto 1rem auto;
  width: 10rem;
  height: 4rem;
  border: none;
  font-size: 1.25rem;
  font-stretch: expanded;
  border-radius: 2%;
}
